@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:ital,wght@0,100;0,300;1,800&family=Cairo:wght@500&family=Manrope:wght@200&display=swap');

html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}

html, body {
  margin: 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
    font-size: 50px;
    font-family: 'Audiowide', cursive;
    color: white;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 15px;
  }
.desc { 
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    color: white;
    width: 450px;
    border: 5px thin whitesmoke;
    padding: 15px;
    z-index: 9;
    margin: auto;
}

.aboutheader {
    font-size: 45px;
    font-family: 'Audiowide', cursive;
    color: white;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 10px;
    align-items: center;
}

.about-p {
  font-size: 15px;
  font-family: 'Barlow', sans-serif;
  color: white;
  width: 600px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.links-list {
  font-size: 15px;
  font-family: 'Barlow', sans-serif;
  color: white;
  width: 600px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
    background-color: rgb(77, 77, 77);
    overflow:scroll;
}

.navbar a {
    float:inherit;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: dotted;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar a.active {
    background-color: #296de3;
    color: white;
  }

  .contact-me {
    font-family: 'Barlow', sans-serif;
  } 

  .home-page {
    background-color: black;
  }

  .home-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

